* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: rgb(7, 5, 0);
}

h1,
h2 {
  font-family: "Lobster", cursive;
}

#titleProgress {
  text-align: center;
}

.wrapper {
  height: 100%;
  background: rgb(250, 191, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 300px;
  background-color: rgb(49, 192, 180);
  border-radius: 15px;
  margin-top: 50px;
  padding: 10px 10px;
}

input {
  margin: 10px 0 10px 0;
  padding: 5px;
  width: 250px;
}
#board {
  width: 90%;
  margin: 50px 0px 50px 0px;
  background: radial-gradient(#4cc6ff, #ffffff);
  border-radius: 35px;
}
#wrapper_box {
  display: flex;
  justify-content: space-around;
}

#box,
#boxToDo,
#boxDelete {
  width: 270px;
  height: 200px;
  background-color: rgb(49, 192, 180);
  margin: 20px 0 20px 0;
  padding: 10px;
}

#btnEdit,
#btnInProgress,
#btnDelete {
  background-size: cover;
  width: 25px;
  height: 25px;
}

#btnEdit {
  background-image: url(icons/48_Pencil.jpg);
}

#btnInProgress {
  background-image: url(icons/illust58-6461-01.jpg);
  background: rgb(99, 228, 228);
}

#btnDelete {
  background-image: url(icons/illust58-7382-01.jpg);
}

#modalWrapper {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modalWindow {
  padding: 1rem;
  background-color: rgb(250, 191, 30);
  position: absolute;
  top: 30%;
  left: 29%;
}

#modalContend {
  background-color: rgb(49, 192, 180);
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 290px;
}

#closeBtn {
  color: #000000;
  background-color: rgb(255, 154, 154);
  float: right;
  font-weight: bold;
}

#okEditBtn {
  background-color: rgb(166, 255, 154);
}

#closeBtn:hover,
#closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
