* {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  color: rgb(7, 5, 0);
}

h1,
h2 {
  font-family: "Lobster", cursive;
}

hr {
  border: none;
  background-color: rgb(0, 0, 0);
  height: 2px;
  margin: 10px 0 10px 0;
}

#titleProgress {
  text-align: center;
}

.wrapper {
  height: 100%;
  background: rgb(250, 191, 30);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 300px;
  background-color: rgb(49, 192, 180);
  border-radius: 15px;
  margin-top: 50px;
  padding: 10px 10px;
}

input {
  margin: 10px 0 10px 0;
  padding: 5px;
  width: 250px;
}
#board {
  width: 90%;
  margin: 50px 0px 50px 0px;
  background: radial-gradient(#4cc6ff, #ffffff);
  border-radius: 35px;
}

.boxTitls {
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

#wrapper_box {
  display: flex;
  justify-content: space-around;
}

#box,
#boxInProgress,
#boxToDo,
#boxDelete {
  width: 270px;
  min-height: 130px;
  background-color: rgb(49, 192, 180);
  margin: 20px 0 20px 0;
  padding: 10px;
}

.btnBox {
  margin-top: 25px;
  text-align: center;
}

.btn {
  border: none;
  color: white;
  padding: 6px 8px;
  font-size: 16px;
  cursor: pointer;
}

#btnEdit {
  background-color: rgb(73, 70, 255);
}

#btnEdit:hover {
  background-color: rgb(35, 32, 252);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#btnInProgress {
  background-color: rgb(70, 255, 95);
}

#btnInProgress:hover {
  background-color: rgb(32, 252, 43);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#btnDelete {
  background-color: rgb(255, 75, 30);
}

#btnDelete:hover {
  background-color: rgb(252, 58, 32);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#modalWrapper {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modalWindow {
  padding: 1rem;
  background-color: rgb(250, 191, 30);
  position: absolute;
  top: 30%;
  left: 29%;
}

#modalContend {
  background-color: rgb(49, 192, 180);
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 290px;
}

#closeBtn {
  color: #000000;
  background-color: rgb(255, 154, 154);
  float: right;
  font-weight: bold;
}

#okEditBtn {
  background-color: rgb(166, 255, 154);
}

#closeBtn:hover,
#closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
